.link_general {
  text-decoration: none;
  color: black;
}

.link_current {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  color: black;
}

.screen_size {
  width: 100vw;
  height: 100vh;
}

.flex_container_row {
  display: flex;
  flex-direction: row;
}

.flex_container_col {
  display: flex;
  flex-direction: column;
}

.section_size {
  flex-grow: 1;
}

.mainpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainpage_section_v1 {
  flex-grow: 1;
  width: 90%;
  padding-top: 100px;
}

.mainpage_section_v2 {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.mainpage_section_v3 {
  width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  padding-top: 100px;
}

.homepage_login {
  width: fit-content;
  line-height: 60px;
  font-size: 60px;
  cursor: pointer;
}

/* (반응형 웹) 큰 화면 */
@media screen and (min-width: 600px) {
  .section_main {
    width: 100%;
    flex-grow: 1;
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
  }

  .homepage_title {
    width: fit-content;
    line-height: 100px;
    font-size: 100px;
    letter-spacing: 10px;
  }

  .homepage_mainImage {
    width: 400px;
    height: 400px;
  }

  .homepage_greeting {
    width: fit-content;
    line-height: 60px;
    font-size: 60px;
  }

  .nav_box {
    position: fixed;
    width: 95%;
    height: 100px;
    z-index: 10;
    background-color: #EDE9DF;
    display: flex;
    justify-content: space-between;
  }

  .wide_screen {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .small_screen {
    display: none;
  }

  .community_sub_box {
    width: 100%;
    flex-grow: 1;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
  }

  .community_sub_box>a {
    flex: 1;
    max-width: 25%;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
  }

  .community_sub_box>a:first-child {
    margin-left: 0;
  }

  .community_sub_box>a:last-child {
    margin-right: 0;
  }

  .community_sub_title {
    width: 100%;
    flex-grow: 0;
    flex-basis: 100px;
    line-height: 100px;
    font-size: 70px;
    position: relative;
  }

  .about_title {
    height: 100px;
    margin: 0px 30px;
    line-height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about_contact_box {
    height: 50px;
    margin: 0px 30px 20px;
    line-height: 50px;
    font-size: 30px;
    display: flex;
  }

  .about_contact_name {
    flex-basis: 200px;
  }

  .rank_box:first-child {
    border-right: 1px solid black;
  }

  .myRank {
    width: 400px;
    height: 50%;
    padding: 3px 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .how_to_content {
    width: 95%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    gap: 10px;
  }

  .how_to_text {}

  .how_to_img {
    height: 200px;
  }
}

/* (반응형 웹) 작은 화면 */
@media screen and (max-width: 600px) {
  .section_main {
    width: 100%;
    flex-grow: 1;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
  }

  .homepage_title {
    width: fit-content;
    line-height: 100px;
    font-size: 60px;
    letter-spacing: 2px;
  }

  .homepage_mainImage {
    width: 300px;
    height: 300px;
  }

  .homepage_greeting {
    width: fit-content;
    line-height: 40px;
    font-size: 40px;
  }

  .nav_box {
    position: fixed;
    width: 85%;
    height: 100px;
    z-index: 10;
    background-color: #EDE9DF;
    display: flex;
    justify-content: space-between;
  }

  .wide_screen {
    display: none;
  }

  .small_screen {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .community_sub_box {
    width: 100%;
    flex-grow: 1;
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .community_sub_box>a {
    width: 300px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
  }

  .community_sub_title {
    display: none;
  }

  .about_title {
    height: 150px;
    margin: 0px 30px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .about_contact_box {
    height: 20px;
    margin: 0px 30px 10px;
    line-height: 50px;
    font-size: 15px;
    display: flex;
  }

  .about_contact_name {
    flex-basis: 100px;
  }

  .rank_box:nth-child(2) {
    display: none;
  }

  .myRank {
    width: 100%;
    height: 50px;
    padding: 3px 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .how_to_content {
    width: 95%;
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 10px;
  }

  .how_to_text {}

  .how_to_img {
    height: 150px;
  }
}

.left_nav {
  width: 70%;
}

.right_nav {
  display: flex;
}

.nav_mainImage {
  width: 50px;
  height: 50px;
  margin: 25px;
}

.menu_box {
  height: 100px;
  /*margin: 0px 50px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
}

@media screen and (max-width: 1000px) {
  .menu_name {
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) {
  .menu_name {
    font-size: 30px;
  }
}

.menu_name:hover {
  cursor: pointer;
}

.dropdown_menu {
  position: fixed;
  margin-top: 100px;
  padding: 10px;
  z-index: 5;
  width: 85%;
  background-color: #d8d4c9;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.content_box {
  width: 95%;
  height: 90%;
  margin: 0px auto;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about_text {
  /* height: 200px; */
  flex-basis: 200px;
  margin: 0px 30px;
  font-size: 30px;
}

.about_contact_email {
  flex-grow: 1;
}

.about_contact_part {
  flex-grow: 0;
}

.update_coming {
  width: 500px;
  height: 500px;
  font-size: 50px;
  padding: 150px 50px;
}

.rank_section {
  flex-grow: 1;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* 두 열 사이 공간 */
}

.rank_box {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.rank_box:first-child {
  padding-right: 10px;
}

.rank_box:last-child {
  padding-left: 10px;
}

.rank_bar {
  flex-basis: 40px;
  line-height: 40px;
  font-size: 25px;
  display: flex;
}

.rank_bar_Rank {
  flex-basis: 60px;
}

.rank_bar_Nick {
  flex-basis: 100px;
  flex-grow: 2;
}

.ranking_row {
  display: flex;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  flex-grow: 1;
}

.ranking_row>.rank {
  flex-basis: 60px;
}

.ranking_row>.nickName {
  flex-basis: 100px;
  flex-grow: 2;
}

.ranking_row>.chip {}

.rank_bar_Chip {
  flex-basis: 100px;
  text-align: right;
}

.community_sub_title .new_post_button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.community_sub_title .new_post_button img {
  cursor: pointer;
}

.community_sub_footer {
  width: 100%;
  flex-basis: 50px;
  margin-bottom: 30px;
  position: relative;
}

.section_footer {
  width: 100%;
  flex-basis: 50px;
  margin-bottom: 30px;
  position: relative;
}

.logout_button {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: fit-content;
  font-size: 30px;
  cursor: pointer;
}

.footer_nickName {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: fit-content;
  font-size: 30px;
}

.prev_post_button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #EDE9DF;
}

.next_post_button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #EDE9DF;
}

.how_to_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.prev_page_btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #EDE9DF;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: -30px;
  z-index: 5;
  cursor: pointer;
}

.next_page_btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #EDE9DF;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: -30px;
  z-index: 5;
  cursor: pointer;
}